<h1>Products List</h1>
<p>A list of all the products</p>
<table>
	<thead>
		<tr>
			<th>#ID</th>
			<th>Name</th>
			<th>Price</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		<% @products.each do |p| %>
		<tr>
			<th><%=p.id%></th>
			<th><%=p.name%></th>
			<th><%=p.price_in_cents%></th>
			<th><%=p.description%></th>
		</tr>
		<% end %>
	</tbody>
</table>



